<div class="withdraw-container">

    <div class="withdraw-card">

        <h2>Withdraw Money</h2>

        <div class="mb-4">

            <label class="form-label">
                Account Number
            </label>

            <input
                class="form-control"
                [value]="accountNumber"
                readonly>

        </div>

        <div class="balance-box">

            <small>Available Balance</small>

            <h3>₹ {{user?.balance}}</h3>

        </div>

        <div class="mb-4 mt-4">

            <label class="form-label">
                Amount
            </label>

            <input
                type="number"
                class="form-control"
                placeholder="Enter amount"
                [(ngModel)]="amount">

        </div>

        <button
            class="btn withdraw-btn w-100"
            (click)="withdrawMoney()">

            Withdraw Money

        </button>

        <div
            class="alert alert-success mt-4"
            *ngIf="successMessage">

            {{successMessage}}

        </div>

        <div
            class="alert alert-danger mt-4"
            *ngIf="errorMessage">

            {{errorMessage}}

        </div>

    </div>

</div>