<nav class="navbar navbar-expand-lg shadow-sm bg-white">

    <div class="container">

        <a class="navbar-brand fw-bold text-danger" routerLink="/">
            Bank Management System
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto align-items-center">

                <!-- Before Login -->
                <ng-container *ngIf="!isLoggedIn(); else loggedIn">

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/register">
                            Register
                        </a>
                    </li>

                    <li class="nav-item ms-3">
                        <a class="btn btn-danger px-4" routerLink="/login">
                            Login
                        </a>
                    </li>

                </ng-container>

                <!-- After Login -->
                <ng-template #loggedIn>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard">
                            Dashboard
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/deposit">
                            Deposit
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/withdraw">
                            Withdraw
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/transfer">
                            Transfer
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/transaction">
                            Transactions
                        </a>
                    </li>

                    <!-- Profile Menu -->
                    <li class="nav-item position-relative ms-4">

                        <button
                            class="btn profile-btn"
                            (click)="toggleMenu()">

                            👤 {{ user?.fullName }} ▼

                        </button>

                        <div
                            class="profile-menu"
                            *ngIf="showMenu">

                            <button
                                class="dropdown-item"
                                (click)="goToProfile()">

                                👤 My Profile

                            </button>

                            <hr class="m-0">

                            <button
                                class="dropdown-item text-danger"
                                (click)="logout()">

                                🚪 Logout

                            </button>

                        </div>

                    </li>

                </ng-template>

            </ul>

        </div>

    </div>

</nav>