.login-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:80vh;
}

.login-card{

    width:350px;

    padding:30px;

    border-radius:10px;

    box-shadow:0 0 15px rgba(0,0,0,.2);

    display:flex;

    flex-direction:column;

    gap:15px;

    background:white;
}

.login-card h2{

    text-align:center;

    color:#8B1E5A;

}

.login-card input{

    padding:10px;

    border:1px solid #ccc;

    border-radius:5px;

}

.login-card button{

    padding:12px;

    background:#8B1E5A;

    color:white;

    border:none;

    border-radius:5px;

    cursor:pointer;

    font-size:16px;

}

.login-card button:hover{

    background:#6E1747;

}

.login-card p{

    text-align:center;

}